<main>
  <p style="color: green"><%= notice %></p>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Portal para noticias de caracter positivo</h1>
        <p class="lead text-muted">Sabemos que hay noticias que nos hacen caer en malos pensamientos no al doomscrolling!.</p>
        <p>
          <%#= link_to "Ingresar", notices_path, class: "btn btn-success my-2" %>
          <!--          <a href="#" class="">Agregar</a>-->
          <%= link_to "Nueva Noticia!", new_notice_path, class: "btn btn-success my-2" %>

        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <% if @notices.size > 0  %>

            <% @notices.each do |notice| %>
              <%= render notice %>
            <% end %>

        <% else %>
            <h2>Esta Categoria no tiene resultados!!</h2>
        <% end %>



      </div>
    </div>
  </div>

</main>







<!--<p>-->
<!--  <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">-->
<!--    Link with href-->
<!--  </a>-->
<!--  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">-->
<!--    Button with data-bs-target-->
<!--  </button>-->
<!--</p>-->
<!--<div class="collapse" id="collapseExample">-->
<!--  <div class="card card-body">-->
<!--    Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.-->
<!--  </div>-->
<!--</div>-->

<!--<div class="py-5">-->
<!--  <div class="container">-->
<!--    <div class="row hidden-md-up">-->
<!--      <div class="col-md-4">-->
<!--        <div class="card">-->
<!--          <div class="card-block">-->
<!--            <h4 class="card-title">Card title</h4>-->
<!--            <h6 class="card-subtitle text-muted">Support card subtitle</h6>-->
<!--            <p class="card-text p-y-1">Some quick example text to build on the card title .</p>-->
<!--            <a href="#" class="card-link">link</a>-->
<!--            <a href="#" class="card-link">Second link</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-4">-->
<!--        <div class="card">-->
<!--          <div class="card-block">-->
<!--            <h4 class="card-title">Card title</h4>-->
<!--            <h6 class="card-subtitle text-muted">Support card subtitle</h6>-->
<!--            <p class="card-text p-y-1">Some quick example text to build on the card title .</p>-->
<!--            <a href="#" class="card-link">link</a>-->
<!--            <a href="#" class="card-link">Second link</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-4">-->
<!--        <div class="card">-->
<!--          <div class="card-block">-->
<!--            <h4 class="card-title">Card title</h4>-->
<!--            <h6 class="card-subtitle text-muted">Support card subtitle</h6>-->
<!--            <p class="card-text p-y-1">Some quick example text to build on the card title .</p>-->
<!--            <a href="#" class="card-link">link</a>-->
<!--            <a href="#" class="card-link">Second link</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div><br>-->
<!--    <div class="row">-->
<!--      <div class="col-md-4">-->
<!--        <div class="card">-->
<!--          <div class="card-block">-->
<!--            <h4 class="card-title">Card title</h4>-->
<!--            <h6 class="card-subtitle text-muted">Support card subtitle</h6>-->
<!--            <p class="card-text p-y-1">Some quick example text to build on the card title .</p>-->
<!--            <a href="#" class="card-link">link</a>-->
<!--            <a href="#" class="card-link">Second link</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-4">-->
<!--        <div class="card">-->
<!--          <div class="card-block">-->
<!--            <h4 class="card-title">Card title</h4>-->
<!--            <h6 class="card-subtitle text-muted">Support card subtitle</h6>-->
<!--            <p class="card-text p-y-1">Some quick example text to build on the card title .</p>-->
<!--            <a href="#" class="card-link">link</a>-->
<!--            <a href="#" class="card-link">Second link</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-4">-->
<!--        <div class="card">-->
<!--          <div class="card-block">-->
<!--            <h4 class="card-title">Card title</h4>-->
<!--            <h6 class="card-subtitle text-muted">Support card subtitle</h6>-->
<!--            <p class="card-text p-y-1">Some quick example text to build on the card title .</p>-->
<!--            <a href="#" class="card-link">link</a>-->
<!--            <a href="#" class="card-link">Second link</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="accordion accordion-flush" id="accordionFlushExample">-->
<!--  <div class="accordion-item">-->
<!--    <h2 class="accordion-header" id="flush-headingOne">-->
<!--      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">-->
<!--        Accordion Item #1-->
<!--      </button>-->
<!--    </h2>-->
<!--    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">-->
<!--      <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="accordion-item">-->
<!--    <h2 class="accordion-header" id="flush-headingTwo">-->
<!--      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">-->
<!--        Accordion Item #2-->
<!--      </button>-->
<!--    </h2>-->
<!--    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">-->
<!--      <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="accordion-item">-->
<!--    <h2 class="accordion-header" id="flush-headingThree">-->
<!--      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">-->
<!--        Accordion Item #3-->
<!--      </button>-->
<!--    </h2>-->
<!--    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">-->
<!--      <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->