<div class="container">
  <div class="row">
    <div class="col-sm">
      <h1>Nuevo Can</h1>
    </div>
    <div class="col-sm">



      <%= render "form", dog: @dog %>



    </div>
    <div class="col-sm">
      <%= link_to "Back to dogs", dogs_path %>
    </div>
  </div>
</div>