<!--<p>Find me in app/views/pages/home.html.erb</p>-->

<% if current_user  %>
  <h2>Hola [<%= current_user.role %>] <%= current_user.email %> </h2>
  <p>Productos</p>
  <%#= link_to "Sign out", destroy_user_session_path,  data: { turbo_method: :get }  %>

  <div class="card" style="width: 18rem;">

    <div class="card-body">
      <h5 class="card-title">Silla de bebe</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

<% else %>

  <p>Su sesion no esta iniciada</p>
  <%= link_to "Sign up!", new_user_registration_path %>
  <br>
  <%= link_to "Log in!", new_user_session_path  %>

<% end %>