<!--<p>Find me in app/views/pages/home.html.erb</p>-->

<% if current_user  %>
  <h2>Hola [<%= current_user.role %>] <%= current_user.email %> </h2>
  <p>Productos</p>
  <%#= link_to "Sign out", destroy_user_session_path,  data: { turbo_method: :get }  %>

<% else %>

  <p>Su sesion no esta iniciada</p>
  <%= link_to "Sign up!", new_user_registration_path %>
  <br>
  <%= link_to "Log in!", new_user_session_path  %>

<% end %>