<div id="<%= dom_id picture %>">
  <p>
    <strong>Title:</strong>
    <%= picture.title %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= picture.price %>
  </p>

  <p>
    <strong>Painter:</strong>
    <%= picture.painter_id %>
  </p>

</div>
