<div id="<%= dom_id product %>">
  <div class="card" style="width: 18rem;">
    <% if product.photo.attached? %>
      <%= image_tag product.photo , class:"card-img-top"%>
    <% end %>
    <div class="card-body">
    <h5 class="card-title"> <%= product.name %></h5>
    <p class="card-text">
      <strong>$ <%= product.price %></strong>
     </p>
   </div>
</div>
</div>